.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group .input-group-addon {
	border-radius: 0;
}

.input-group-addon:first-child {
	border-right: 0;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	border: 1px solid #6c757d;
	border-radius: 4px;
}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
	display: table-cell;
}

.dow {
	color: white;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
	background: inherit;
	color: turquoise;
}

.datepicker-switch {
	color: white;
}

.datepicker table tr td span {
	color: white;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
	background: darkturquoise;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
	background: darkturquoise;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	background: 0 0;
	color: #999;
	cursor: default;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
	color: white;
}

.datepicker td,
.datepicker th {
	color: whitesmoke;
}

.datepicker .today {
	color: paleturquoise;
}

.datepicker .clear {
	color: orange;
}
